# Tarrea 31 de Mayo, Pandas sesión 1
**Autor:** Juan Olmos

## Enunciado
Un médico requiere la sigueinte información:

1. *la media y la desviación estandar de la glucosa de los pacientes que fueron diagnosticasdos con diabétes y de los que fueron diagnosticados como no-diabéticos*

2. *Posteriormente, quiere dividir a la población en grupos por rangos de edades de 10 años, es decir, de 0-10, de 10-20, etc. Y para cada uno de estos rupos, calcular la media y la desviación estandar de la glucosa*

In [7]:
import pandas as pd
import numpy as np

In [5]:
#Cargamos los datos 

df = pd.read_csv('../data/diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

## Solución punto 1.)

Recordemos que **1 es diabetico** y **0 es no diabético**

In [17]:
df.groupby('Outcome').Glucose.agg(['mean','std'])

               mean        std
Outcome
0        109.980000  26.141200
1        141.257463  31.939622

## Solución punto 2.)

Primero, calcularemos una columna para decir en que rango de edad (decadas) estan las personas

In [19]:
df['Rango_decada'] = df.Age.apply(lambda x: np.round(x,-1))
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Rango_decada
0,6,148,72,35,0,33.6,0.627,50,1,50
1,1,85,66,29,0,26.6,0.351,31,0,30
2,8,183,64,0,0,23.3,0.672,32,1,30
3,1,89,66,23,94,28.1,0.167,21,0,20
4,0,137,40,35,168,43.1,2.288,33,1,30

Ahora si agrupamos y miramos la media y la desviación

In [21]:
df.groupby('Rango_decada').Glucose.agg(['mean','std'])

                    mean        std
Rango_decada
20            110.719101  29.360985
30            121.683258  28.159758
40            126.364198  35.680563
50            132.578125  31.087079
60            137.926829  31.974513
70            137.333333  39.171728
80            134.000000        NaN