In [1]:
import numpy as np
import pandas as pd

# **EJERCICIO FINAL:**
## *Hecho por*: **Jorge Leonardo López Agredo - cod: 2218061**

En el siguiente enlace se presenta un dataset de diagnóstico de diabetes:

[https://www.kaggle.com/mathchi/diabetes-data-set](https://www.kaggle.com/mathchi/diabetes-data-set).

El dataset ya se encuentra descargado en la ruta `/data/diabetes.csv`

Un médico requiere la sigueinte información:

1. *la media y la desviación estandar de la glucosa de los pacientes que fueron diagnosticasdos con diabétes y de los que fueron diagnosticados como no-diabéticos*

2. *Posteriormente, quiere dividir a la población en grupos por rangos de edades de 10 años, es decir, de 0-10, de 10-20, etc. Y para cada uno de estos grupos, calcular la media y la desviación estandar de la glucosa*

In [2]:
db = pd.read_csv('data/diabetes.csv')
db.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
db.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

## Resolviendo el primer punto.

Tomando para `Outcome` el valor de $0$ si el diagnostico es negativo y $1$ si el diagnostico es positivo, tenemos:

In [4]:
diagnostico = db.groupby('Outcome').Glucose.agg(['mean','std'])
diagnostico

               mean        std
Outcome
0        109.980000  26.141200
1        141.257463  31.939622

## Resolviendo el segundo punto. 

Usaremos dos métodos para poder clasificar por grupos de edades.

La primera será usando una función auxiliar llamada `rango_edad()` que permite agregar una columna clasificando la edad de cada paciente. 

La segunda será usando la función de numpy `np.digitize()`a la lista **edad**.

In [5]:
def rango_edad(x):
    if x<=10:
        etapa=1
    elif 10<x<=20:
        etapa = 2
    elif 20<x<=30:
        etapa= 3
    elif 30<x<=40:
        etapa = 4
    elif 40<x<=50:
        etapa = 5
    elif 50<x<=60:
        etapa= 6
    elif 60<x<=70:
        etapa = 7
    elif 70<x<=80:
        etapa = 8
    else:
        etapa = 9
        
    return etapa

In [6]:
db['Rango_edad'] = db.Age.apply(rango_edad)
db.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Rango_edad
0,6,148,72,35,0,33.6,0.627,50,1,5
1,1,85,66,29,0,26.6,0.351,31,0,4
2,8,183,64,0,0,23.3,0.672,32,1,4
3,1,89,66,23,94,28.1,0.167,21,0,3
4,0,137,40,35,168,43.1,2.288,33,1,4

In [7]:
glucosa_rango = db.groupby('Rango_edad').Glucose.agg(['mean','std'])
glucosa_rango

                  mean        std
Rango_edad
3           114.175060  28.730772
4           126.178344  33.375775
5           124.884956  34.733874
6           141.148148  31.338329
7           137.560000  32.561583
8           119.000000        NaN
9           134.000000        NaN

## Segunda forma para clasificar la edad

In [8]:
edad = db.Age.values
bins = [0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0, 90.0]
db['Rango_edad2'] = np.digitize(edad,bins,right = True)
db.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Rango_edad,Rango_edad2
0,6,148,72,35,0,33.6,0.627,50,1,5,5
1,1,85,66,29,0,26.6,0.351,31,0,4,4
2,8,183,64,0,0,23.3,0.672,32,1,4,4
3,1,89,66,23,94,28.1,0.167,21,0,3,3
4,0,137,40,35,168,43.1,2.288,33,1,4,4

In [9]:
db

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Rango_edad,Rango_edad2
0,6,148,72,35,0,33.6,0.627,50,1,5,5
1,1,85,66,29,0,26.6,0.351,31,0,4,4
2,8,183,64,0,0,23.3,0.672,32,1,4,4
3,1,89,66,23,94,28.1,0.167,21,0,3,3
4,0,137,40,35,168,43.1,2.288,33,1,4,4
...,...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,7,7
764,2,122,70,27,0,36.8,0.340,27,0,3,3
765,5,121,72,23,112,26.2,0.245,30,0,3,3
766,1,126,60,0,0,30.1,0.349,47,1,5,5
767,1,93,70,31,0,30.4,0.315,23,0,3,3