# **EJERCICIO FINAL:**
## *Hecho por*: **Jorge Leonardo López Agredo - cod: 2218061**

En el siguiente enlace se presenta un dataset llamado weekly.csv: [Dataset_weekly.cvs](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

Para esta ocasión, tomamos el archivo de Internet y lo vamos a guardar dentro de nuestro repositorio, para evitar modificaciones futuras.

## Deberes ha tener en cuenta:
* Convierta las fechas en un DatetimeIndex
* Cambie la frecuencia a mensual, sume los valores y asígnela ese valor a cada mes
* Eliminar las filas que obtuvieron valores Nan

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
weekly = pd.read_csv('https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv')

In [3]:
weekly.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

In [4]:
# Guarda datos en CSV:
weekly.to_csv('weekly.csv', header=True, index=True)

In [5]:
wl = pd.read_csv('weekly.csv')
wl.head(5)

,Unnamed: 0,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

In [6]:
wl.dtypes #date es un object

Unnamed: 0          int64
Date               object
Total Equity        int64
Domestic Equity     int64
World Equity        int64
Hybrid              int64
Total Bond          int64
Taxable Bond        int64
Municipal Bond      int64
Total               int64
dtype: object

In [7]:
wl.Date = pd.to_datetime(wl.Date)# cambiamos Date de tipo de object a datetime64

wl['Date'].head()

0   2012-12-05
1   2012-12-12
2   2012-12-19
3   2012-12-26
4   2013-01-02
Name: Date, dtype: datetime64[ns]

In [8]:
wl = wl.set_index('Date') #convertimos Date en un DatetimeIndex

wl.head()

,Unnamed: 0,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,,
2012-12-05,0,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,1,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,2,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,3,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,4,-11156,-9622,-1533,-158,2383,2103,280,-8931

In [9]:
wl = wl.sort_index(ascending=True)
wl.head()

,Unnamed: 0,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,,
2012-12-05,0,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,1,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,2,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,3,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,4,-11156,-9622,-1533,-158,2383,2103,280,-8931

In [10]:
# Cambiemos la frecuencia a mensual, sumemos los valores y asígnemos ese valor a cada mes
# Se obtiene el último día hábil de cada mes
wl_month = wl.resample('M').last()
wl_month

,Unnamed: 0,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,,
2012-12-31,3.0,-4451.0,-4076.0,-375.0,550.0,2610.0,3333.0,-722.0,-1291.0
2013-01-31,5.0,14817.0,7995.0,6821.0,2888.0,9766.0,7311.0,2455.0,27471.0
2013-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-30,10.0,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2014-05-31,14.0,-2453.0,-2603.0,150.0,1108.0,2041.0,1236.0,805.0,696.0
2014-06-30,18.0,-93.0,-1354.0,1262.0,1246.0,3256.0,2694.0,562.0,4409.0
2014-07-31,21.0,118.0,-1171.0,1290.0,1024.0,1806.0,1119.0,687.0,2949.0
2014-08-31,25.0,-577.0,-2199.0,1623.0,943.0,3655.0,2921.0,734.0,4021.0
2014-09-30,27.0,1257.0,-1291.0,2548.0,1055.0,1554.0,711.0,843.0,3866.0
2014-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-11-30,31.0,-1175.0,-2044.0,869.0,-157.0,2590.0,1821.0,769.0,1258.0
2014-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-31,35.0,4343.0,3455.0,888.0,1748.0,5964.0,4689.0,1275.0,12055.0
2015-02-28,37.0,1268.0,-27.0,1296.0,959.0,5862.0,5169.0,693.0,8089.0
2015-03-31,41.0,-1167.0,-4478.0,3311.0,538.0,2404.0,1701.0,703.0,1775.0
2015-04-30,43.0,1906.0,-1321.0,3227.0,250.0,1719.0,1906.0,-187.0,3875.0

In [11]:
#Veamos si hay elementos NaN usando isna()
wl_check = wl.isna()
wl_check

,Unnamed: 0,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,,
2012-12-05,False,False,False,False,False,False,False,False,False
2012-12-12,False,False,False,False,False,False,False,False,False
2012-12-19,False,False,False,False,False,False,False,False,False
2012-12-26,False,False,False,False,False,False,False,False,False
2013-01-02,False,False,False,False,False,False,False,False,False
2013-01-09,False,False,False,False,False,False,False,False,False
2014-04-02,False,False,False,False,False,False,False,False,False
2014-04-09,False,False,False,False,False,False,False,False,False
2014-04-16,False,False,False,False,False,False,False,False,False
2014-04-23,False,False,False,False,False,False,False,False,False
2014-04-30,False,False,False,False,False,False,False,False,False
2014-05-07,False,False,False,False,False,False,False,False,False
2014-05-14,False,False,False,False,False,False,False,False,False
2014-05-21,False,False,False,False,False,False,False,False,False
2014-05-28,False,False,False,False,False,False,False,False,False
2014-06-04,False,False,False,False,False,False,False,False,False
2014-06-11,False,False,False,False,False,False,False,False,False
2014-06-18,False,False,False,False,False,False,False,False,False
2014-06-25,False,False,False,False,False,False,False,False,False
2014-07-02,False,False,False,False,False,False,False,False,False
2014-07-09,False,False,False,False,False,False,False,False,False
2014-07-30,False,False,False,False,False,False,False,False,False
2014-08-06,False,False,False,False,False,False,False,False,False
2014-08-13,False,False,False,False,False,False,False,False,False
2014-08-20,False,False,False,False,False,False,False,False,False
2014-08-27,False,False,False,False,False,False,False,False,False
2014-09-03,False,False,False,False,False,False,False,False,False
2014-09-10,False,False,False,False,False,False,False,False,False
2014-11-05,False,False,False,False,False,False,False,False,False
2014-11-12,False,False,False,False,False,False,False,False,False
2014-11-19,False,False,False,False,False,False,False,False,False
2014-11-25,False,False,False,False,False,False,False,False,False
2015-01-07,False,False,False,False,False,False,False,False,False
2015-01-14,False,False,False,False,False,False,False,False,False
2015-01-21,False,False,False,False,False,False,False,False,False
2015-01-28,False,False,False,False,False,False,False,False,False
2015-02-04,False,False,False,False,False,False,False,False,False
2015-02-11,False,False,False,False,False,False,False,False,False
2015-03-04,False,False,False,False,False,False,False,False,False
2015-03-11,False,False,False,False,False,False,False,False,False
2015-03-18,False,False,False,False,False,False,False,False,False
2015-03-25,False,False,False,False,False,False,False,False,False
2015-04-01,False,False,False,False,False,False,False,False,False
2015-04-08,False,False,False,False,False,False,False,False,False

In [12]:
#Veamos si hay elementos NaN usando isna()
wl_check1 = wl.isnull()
wl_check1

,Unnamed: 0,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,,
2012-12-05,False,False,False,False,False,False,False,False,False
2012-12-12,False,False,False,False,False,False,False,False,False
2012-12-19,False,False,False,False,False,False,False,False,False
2012-12-26,False,False,False,False,False,False,False,False,False
2013-01-02,False,False,False,False,False,False,False,False,False
2013-01-09,False,False,False,False,False,False,False,False,False
2014-04-02,False,False,False,False,False,False,False,False,False
2014-04-09,False,False,False,False,False,False,False,False,False
2014-04-16,False,False,False,False,False,False,False,False,False
2014-04-23,False,False,False,False,False,False,False,False,False
2014-04-30,False,False,False,False,False,False,False,False,False
2014-05-07,False,False,False,False,False,False,False,False,False
2014-05-14,False,False,False,False,False,False,False,False,False
2014-05-21,False,False,False,False,False,False,False,False,False
2014-05-28,False,False,False,False,False,False,False,False,False
2014-06-04,False,False,False,False,False,False,False,False,False
2014-06-11,False,False,False,False,False,False,False,False,False
2014-06-18,False,False,False,False,False,False,False,False,False
2014-06-25,False,False,False,False,False,False,False,False,False
2014-07-02,False,False,False,False,False,False,False,False,False
2014-07-09,False,False,False,False,False,False,False,False,False
2014-07-30,False,False,False,False,False,False,False,False,False
2014-08-06,False,False,False,False,False,False,False,False,False
2014-08-13,False,False,False,False,False,False,False,False,False
2014-08-20,False,False,False,False,False,False,False,False,False
2014-08-27,False,False,False,False,False,False,False,False,False
2014-09-03,False,False,False,False,False,False,False,False,False
2014-09-10,False,False,False,False,False,False,False,False,False
2014-11-05,False,False,False,False,False,False,False,False,False
2014-11-12,False,False,False,False,False,False,False,False,False
2014-11-19,False,False,False,False,False,False,False,False,False
2014-11-25,False,False,False,False,False,False,False,False,False
2015-01-07,False,False,False,False,False,False,False,False,False
2015-01-14,False,False,False,False,False,False,False,False,False
2015-01-21,False,False,False,False,False,False,False,False,False
2015-01-28,False,False,False,False,False,False,False,False,False
2015-02-04,False,False,False,False,False,False,False,False,False
2015-02-11,False,False,False,False,False,False,False,False,False
2015-03-04,False,False,False,False,False,False,False,False,False
2015-03-11,False,False,False,False,False,False,False,False,False
2015-03-18,False,False,False,False,False,False,False,False,False
2015-03-25,False,False,False,False,False,False,False,False,False
2015-04-01,False,False,False,False,False,False,False,False,False
2015-04-08,False,False,False,False,False,False,False,False,False

In [13]:
#Veamos si por lo menos un NaN usando isna()
wl_check2 = wl.isna().any().any()
wl_check2

False

In [14]:
# Eliminando las filas que obtuvieron valores Nan
# haciendo un nuevo marco de datos con valores NaN eliminados
new_wl = wl.dropna(axis = 0, how ='any')
new_wl

,Unnamed: 0,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,,
2012-12-05,0,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,1,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,2,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,3,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,4,-11156,-9622,-1533,-158,2383,2103,280,-8931
2013-01-09,5,14817,7995,6821,2888,9766,7311,2455,27471
2014-04-02,6,3155,938,2217,265,3379,3129,250,6799
2014-04-09,7,5761,2080,3681,1482,1609,1448,161,8852
2014-04-16,8,2286,634,1652,1186,633,604,29,4105
2014-04-23,9,3530,1392,2138,1239,1984,1453,531,6753
2014-04-30,10,-3890,-3996,106,759,888,559,329,-2242
2014-05-07,11,632,-2006,2639,-340,5493,4417,1076,5785
2014-05-14,12,-1079,-2321,1242,1188,4037,3141,897,4146
2014-05-21,13,697,-1790,2487,1216,2196,1398,798,4109
2014-05-28,14,-2453,-2603,150,1108,2041,1236,805,696
2014-06-04,15,2098,-1148,3246,1123,188,-470,658,3409
2014-06-11,16,1236,-1840,3075,1159,2112,1587,524,4506
2014-06-18,17,-922,-2204,1282,1060,4159,3740,419,4297
2014-06-25,18,-93,-1354,1262,1246,3256,2694,562,4409
2014-07-02,19,-7835,-8887,1052,636,2979,2704,276,-4220
2014-07-09,20,666,-1070,1736,1006,2721,3203,-482,4393
2014-07-30,21,118,-1171,1290,1024,1806,1119,687,2949
2014-08-06,22,-471,-3073,2602,-375,-8193,-8658,465,-9040
2014-08-13,23,320,-974,1294,496,1436,539,897,2252
2014-08-20,24,2671,738,1933,821,4999,4185,814,8490
2014-08-27,25,-577,-2199,1623,943,3655,2921,734,4021
2014-09-03,26,-4024,-5305,1281,544,2430,1768,661,-1050
2014-09-10,27,1257,-1291,2548,1055,1554,711,843,3866
2014-11-05,28,-32,-1634,1602,-176,5813,5284,529,5604
2014-11-12,29,1464,61,1403,963,3596,2703,893,6023
2014-11-19,30,-3010,-3622,611,99,2529,1758,771,-383
2014-11-25,31,-1175,-2044,869,-157,2590,1821,769,1258
2015-01-07,32,-3913,-5438,1525,-1057,-3403,-4729,1326,-8373
2015-01-14,33,1774,-37,1811,248,3549,2582,967,5572
2015-01-21,34,1267,856,411,790,1258,220,1038,3315
2015-01-28,35,4343,3455,888,1748,5964,4689,1275,12055
2015-02-04,36,4240,3536,703,793,3237,2274,963,8270
2015-02-11,37,1268,-27,1296,959,5862,5169,693,8089
2015-03-04,38,999,-1933,2932,528,4984,4309,675,6511
2015-03-11,39,3911,-7,3918,851,1298,999,298,6059
2015-03-18,40,1948,-1758,3706,912,452,258,194,3312
2015-03-25,41,-1167,-4478,3311,538,2404,1701,703,1775
2015-04-01,42,-1527,-3307,1780,720,-1296,-1392,96,-2103
2015-04-08,43,1906,-1321,3227,250,1719,1906,-187,3875

In [15]:
# comparar tamaños de marcos de datos
print ("Longitud del marco de datos antiguo:", len (wl), "\ nLongitud del marco de datos nuevo:",
        len (new_wl), "\ nNúmero de filas con al menos 1 valor NA:",
        (len (wl) -len (new_wl)))

Longitud del marco de datos antiguo: 44 \ nLongitud del marco de datos nuevo: 44 \ nNúmero de filas con al menos 1 valor NA: 0

In [16]:
# Guarda datos en CSV:
new_wl.to_csv('new_weekly.csv', header=True, index=True)